.content {
    margin-left: 150px;
}

.content-header {
    margin-left: 150px;
}

h3 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgba(19, 52, 59, 1);
    text-align: left;
    margin-left: 100px;
}

input {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-left: 150px;
}

.broker-instructions {
    margin-top: 20px;
    padding: 12px;
    margin-left: 100px;
    border-left: 4px solid #4caf50;
    background-color: #f9f9f9;
    border-radius: 6px;
}