<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <!-- Prevent caching -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script src="{{ url_for('static', filename='js/cache.js') }}" ></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home_page') }}">Home</a></li>
                {% if not session.get('user') %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <h1>Welcome</h1>
    </main>
</body>
</html>
