<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />   
        <script src="{{ url_for('static', filename='js/cache.js') }}" ></script>
    </head>
    <body>
        {% include 'navbar.html' %}
        <main class="content">
            <header class="content-header">
                <h1>User Profile</h1>
            </header>
            <section class="profile-section">
                <h3>Profile Information</h3>
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Member Since:</strong> {{ user.member_since.strftime('%B %d, %Y') }}</p>
            </section>
    </body>
</html>